html{
    
    font-family: sans-serif;
    
}
.inputBut{
    height: 2em;
    font-size: 12pt;
    width: 96%;
    background-color: black;
    color: white;
    text-align: right;
    border: 0;
      
}
.inop{
    
    width: 3.5em;
    background-color: orange;
    border: 0;
    padding: 20px;
    text-align: center;
    font-size: 12pt;
    margin: 2px;
    border-radius: 50%;
    
}
.innum{
    
    width: 3.5em;
    background-color: 189,183,183;
    border: 0;
    padding: 20px;
    text-align: center;
    font-size: 12pt;
    margin: 2px;
    border-radius: 50%;
    
}
.in0{
    background-color: 189,183,183;
    border: 0;
    padding: 20px;
    text-align: center;
    font-size: 12pt;
    margin: 2px;
    border-radius: 50%;
    width: 7em;
    
}
